@model UserRegistrationViewModel


<h2 style="color:white">Register</h2>

<div class="Register">
    @Html.Partial("_ValidationSummary")
    @using (Html.BeginForm("RegisterUser", "UserRegistration", FormMethod.Post))
    {
        <input type="hidden" asp-for="ReturnUrl" />
        <div>
            <div>
                @Html.LabelFor(model => model.Username)
                <div>
                    @Html.TextBoxFor(model => model.Username, new { @class = "RegFields", @placeholder = "Choose Username" })
                    @Html.ValidationMessageFor(model => model.Username)
                    <i class="fa fa-check" aria-hidden="true" id="username_available_sign" style="display:none;"></i>
                    <i class="fa fa-times" aria-hidden="true" id="username_unavailable_sign" style="display:none;"></i>
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Email)
                <div>
                    @Html.TextBoxFor(model => model.Email, new { @class = "RegFields", @placeholder = "Example@mail.com" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Firstname)
                <div>
                    @Html.TextBoxFor(model => model.Firstname, new { @class = "RegFields", @placeholder = "Enter Your First Name" })
                    @Html.ValidationMessageFor(model => model.Firstname)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Lastname)
                <div>
                    @Html.TextBoxFor(model => model.Lastname, new { @class = "RegFields", @placeholder = "Enter Your Last Name" })
                    @Html.ValidationMessageFor(model => model.Lastname)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Password)
                <div>
                    @Html.PasswordFor(model => model.Password, new { @class = "RegFields", @placeholder = "Enter Your Password" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div>
                <input type="submit" id="Click" value="Register" class="btn btn-primary btn-lg btn3d" />

                <a asp-action="Login"
                   asp-controller="Account"
                   asp-route-returnUrl="@Model.ReturnUrl">
                    <input type="button" class="btn btn-danger btn-lg" value="Cancel" />
                </a>
            </div>
        </div>
    }
</div>

