@model AuthorizationServer.Quickstart.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<div class="Register">

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{

    <div>
        <div>
            @Html.LabelFor(model => model.Username)
            <div>
                @Html.TextBoxFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Email)
            <div>
                @Html.TextBoxFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.FirstName)
            <div>
                @Html.TextBoxFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.LastName)
            <div>
                @Html.TextBoxFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.TextBoxFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.ConfirmPassword)
            <div>
                @Html.TextBoxFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>
    </div>
}</div>