@model LVMini.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@*<div class="login-box">
        <h1>Login Here</h1>
        <form action="main.html" method="post" onSubmit="return checkForm(this);" name="form">
            <p>Username</p>
            <input type="text" name="usr" placeholder="Username" required><br>
            <p>Password</p>
            <input type="password" name="pass" placeholder="Password" required><br>
            <input type="submit" value="Submit">Don't Have An Account<br><a href="Register">Register here.</a>
        </form>
    </div>
    <footer>
        <div class="footer">
            <p><span></span>Severin Karadzhov VSG Solutions 2017</p>
        </div>
    </footer>*@

<div class="login-box">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
    <div>
        <div>
            @Html.LabelFor(model => model.Username)
            <div>
                @Html.TextBoxFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div>
            <p>
                <a asp-action="ForgotPassword">Forgot your password?</a>
            </p>
        </div>
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
        <div>
            <input type="submit" value="Login" />Don't Have An Account<br><a href="Register">Register here.</a>
        </div>
        <div>
            <input type="button" value="Facebook Login" /><br />
        </div>
    </div>
    }
</div>
