@*@model LVMini.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="container">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div>
            <div>
                @Html.LabelFor(model => model.Username)
                <div>
                    @Html.TextBoxFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Password)
                <div>
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </div>
    }
</div>*@
