@model LVMini.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="Register" .>

    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {

        <div>
            <div>
                @Html.LabelFor(model => model.Name)
                <div>
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Email)
                <div>
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Username)
                <div>
                    @Html.TextBoxFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Password)
                <div>
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.ConfirmPassword)
                <div>
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <div>
                <input type="submit" value="Register" />
            </div>
        </div>

    }
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}