@using LVMini.ViewModels
@model IEnumerable<UserModel>
@{
    ViewData["Title"] = "Users";
}
<h2 style="color:white">Users List</h2>
<div class="Users">
    <div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">

                    @foreach (UserModel user in Model)
                    {
                        <div class="user-container">
                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>
                                        <tr data-status="active">
                                            <td><div class="ckbox"><br><input type="checkbox" id="checkbox4"></div></td>
                                            <td><a href="javascript:;" class="star star-checked"><br><i class="glyphicon glyphicon-star"></i></a></td>
                                            <td>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo" style="height:50px; width:50px;">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="UserTitle">
                                                            User Information
                                                            <span class="pull-right">
                                                                <input type="submit" , value="Edit" id="@user.Username" class="btnUEdit btn btn-primary btn-lg btn3d" />
                                                            </span>
                                                        </h4>
                                                    </div><br>
                                                    <div>
                                                        <h4 style="color:white;"><label >Username:&nbsp;</label><label id="@("currentUserUserName"+user.Username)">@user.Username</label></h4>
                                                        <h4 style="color:white;"><label>E-mail:&nbsp;</label><label id="@("currentUserEmail"+user.Username)">@user.Email</label></h4>
                                                        <h4 style="color:white;"><label>First Name:&nbsp;</label><label id="@("currentUserFirstName"+user.Username)">@user.FirstName</label></h4>
                                                        <h4 style="color:white;"><label>Last Name:&nbsp;</label><label id="@("currentUserLastName"+user.Username)">@user.LastName</label></h4>
                                                        <h4 style="color:white;"><label>User's Role Is:&nbsp;</label><label id="@("currentUserRole"+user.Username)">@user.Role</label></h4>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 hidden" id="@("hidden"+user.Username)">
                                @using (Html.BeginForm("Users", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="fields form-horizontal well">
                                        <h4 class="text-center" style="color:white;">Edit This User</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => user.FirstName, new { @class = "control-label col-sm-4" })
                                            <div class="col-sm-5">
                                                @Html.TextBoxFor(model => user.FirstName, new { @class = "form-control", placeholder = user.FirstName, id="FirstNameInput"+user.Username })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => user.LastName, new { @class = "control-label col-sm-4" })
                                            <div class="col-sm-5">
                                                @Html.TextBoxFor(model => user.LastName, new { @class = "form-control", placeholder = user.LastName, id = "LastNameInput" + user.Username })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-4 col-md-12">
                                                <input id="@("btnModify"+user.Username)" type="button" value="Modify" class="modify-users-buttons btn btn-primary btn-lg btn3d" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>
