@using LVMini.ViewModels
@model IEnumerable<UserModel>
@{
    ViewData["Title"] = "Users";
}
<h2 style="color:white">Users List</h2>
<div class="Users">
    <div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                    <div class="pull-left">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-filter" data-target="active">Active</button>
                            <button type="button" class="btn btn-danger btn-filter" data-target="unactive">Unactive</button>
                            <button type="button" class="btn btn-default btn-filter" data-target="all">All</button>
                        </div>
                    </div>
                            @foreach (UserModel user in Model)
                            {
                                <div class="table-container"> 
                                    <table class="table table-filter">
                                        <tbody>
                                            <tr data-status="active">
                                                <td>
                                                    <div class="ckbox"><br><input type="checkbox" id="checkbox4"></div>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="star star-checked"><br><i class="glyphicon glyphicon-star"></i></a>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <a href="#" class="pull-left">
                                                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo" style="height:50px; width:50px;">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="UserTitle">
                                                                User Information
                                                                <span class="pull-right pagado">
                                                                     <input type="submit", value="Edit", id=@user.Username onclick="OpenUserInView(this.id)">
                                                                </span>
                                                            </h4>
                                                        </div><br>
                                                        <div>
                                                            <h4 style="color:white;"><label>Username:&nbsp;</label>@user.Username</h4>
                                                            <h4 style="color:white;"><label>E-mail:&nbsp;</label>@user.Email</h4>
                                                            <h4 style="color:white;"><label>First Name:&nbsp;</label>@user.FirstName</h4>
                                                            <h4 style="color:white;"><label>Last Name:&nbsp;</label>@user.LastName</h4>
                                                            <h4 style="color:white;"><label>User's Role Is:&nbsp;</label>@user.Role</h4>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }
                </div>
            </div>
        </section>
    </div>
</div>
