
@model LVMini.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<head>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="icon" type="image/x-icon" href="~/images/iconr.png" />
    <link rel="stylesheet" href="~/css/site.css">
</head>

<h2 style="color:white">Register</h2>

<div class="Register">

    @using (Html.BeginForm("Register", "Accounts", FormMethod.Post))
    {
        <div>
            <div>
                @Html.LabelFor(model => model.Username)
                <div>
                    @Html.TextBoxFor(model => model.Username, new { @class = "RegFields", @placeholder = "Choose Username"})
                    @Html.ValidationMessageFor(model => model.Username)
                    <i class="fa fa-check" aria-hidden="true" id = "username_available_sign" style="display:none;"></i>
                    <i class="fa fa-times" aria-hidden="true" id ="username_unavailable_sign" style="display:none;"></i>
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Email)
                <div>
                    @Html.TextBoxFor(model => model.Email, new { @class = "RegFields", @placeholder = "Example@mail.com" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Firstname)
                <div>
                    @Html.TextBoxFor(model => model.Firstname, new { @class = "RegFields", @placeholder = "Enter Your First Name" })
                    @Html.ValidationMessageFor(model => model.Firstname)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Lastname)
                <div>
                    @Html.TextBoxFor(model => model.Lastname, new { @class = "RegFields", @placeholder = "Enter Your Last Name" })
                    @Html.ValidationMessageFor(model => model.Lastname)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.Password)
                <div>
                    @Html.PasswordFor(model => model.Password, new { @class = "RegFields", @placeholder = "Enter Your Password" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.ConfirmPassword)
                <div>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "RegFields", @placeholder = "Repeat Your Password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)

                </div>
            </div>
            <div>
                <input type="submit" id="Click" value="Register"/>
                <input type="button" value="Cancel" id ="Cancel" onclick="location.href='@Url.Action("Index","Home")';" />
            </div>
        </div>
    }
</div>

