@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.IdentityModel.Clients.ActiveDirectory
@using Microsoft.IdentityModel.Protocols.OpenIdConnect
@{
    ViewData["Title"] = "About";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>

<h2 style="color:black">@ViewData["Title"]</h2>
<h3 style="color:black">@ViewData["Message"]</h3>

<div class="About">
    <div>
        <p>Financial Institutions today are facing greater competitive and regulatory pressure than ever before. And they need a Financial Services Company that can help them deliver the products and services required to meet their demands.
        For Commercial Lending, a trusted technology partner is even more important in order to serve as the foundation of Financial Institution’s most important Commercial Relationships and Lending Assets. </p>
    </div>
    <div>
        <strong>id_token</strong>
        <span>@await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.IdToken)</span>
    </div>

    <div>
        <strong>access_token</strong>
        <span>@await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.AccessToken)</span>
    </div>

    <div>
        <strong>refresh_token</strong>
        <span>@await ViewContext.HttpContext.GetTokenAsync(OpenIdConnectParameterNames.RefreshToken)</span>
    </div>
</div>
@{
    var name = User.Identity.Name;

    <h2 style="color:black;">@User.Identity.Name</h2>

    foreach (var claim in User.Claims)
    {
        <div class="About">
            <strong>@claim.Type</strong>
            <span>@claim.Value</span>
        </div>
    }
}